.M1d div {
    white-space: pre-wrap;
    text-align: center;
    overflow: 'auto';
}

td {
    white-space: pre;
    display: flex;
}

tr {
    display: flex;
}

.result-card {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 80%; /* Can be in percentage also. */
    height: auto;
  
    /* Visual  */
    background-color: #6436bc;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

p {
    line-height: 200%;
}
  